<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnmd.liuwan.mapper.HotelMapper">
	<select id="maxNum" resultType="int">
		select count(*) from hotel_msg
	</select>
	<select id="getHotels" parameterType="Map" resultType="com.jnmd.liuwan.domain.Hotel" resultMap="HotelSelect">
		select *
		from hotel_msg  
		limit #{start},#{pagesize}
	</select>
	<resultMap type="com.jnmd.liuwan.domain.Hotel" id="HotelSelect">
		<id property="hid" column="hid"/>
        <result property="name" column="name"/>
        <result property="contact" column="contact"/>
        <result property="address" column="address"/>
        <result property="feature" column="feature"/>
        <result property="level" column="level"/>
        <result property="serverDesc" column="serverDesc"/>
        <result property="intime" column="intime"/>
        <result property="outtime" column="outtime"/>
        <collection property="hotelPics" column="hid" ofType="com.jnmd.liuwan.domain.HotelPic" 
        select="com.jnmd.liuwan.mapper.HotelPicMapper.getHotelPicList">
   		</collection>
	</resultMap>
     <resultMap type="com.jnmd.liuwan.domain.HotelPrice" id="houseList">
     	<id property="hpid" column="hpid"/>
   		<result property="price" column="price"/>
   		<result property="area" column="area"/>
   		<result property="floor" column="floor"/>
   		<result property="smoke" column="smoke"/>
   		<result property="peomax" column="peomax"/>
   		<association property="houseType" javaType="com.jnmd.liuwan.domain.HouseType">
   			<id property="houseId" column="houseId"/>
   			<result property="houseType" column="houseType"/>
   		</association>
   		<association property="province" javaType="com.jnmd.liuwan.domain.Province">
   			<id property="cityId" column="cityid"/>
   			<result property="cityName" column="cityname"/>
   		</association>
   		<collection property="housePic" javaType="java.util.List" ofType="com.jnmd.liuwan.domain.HousePic">
   			<id property="hpid" column="hpid"/>
   			<result property="picPath" column="picPath"/>
   		</collection>
     </resultMap>
     <select id="getAllHouse" parameterType="Map" resultMap="houseList">
     	select *
     	from 
     	hotel_price p,house_type t, house_pic c,province pr
     	where
     	p.hpid in (
     		select m.pid from
     		hotel_mid m
     		where m.hid = #{hid}
     	)
     	and p.house_id = t.houseId
     	and p.hpid = c.housepid
     	and p.city_id = pr.cityId
     </select>
     <delete id="deleteHouse" parameterType="Map">
     	delete from hotel_price where hpid=#{hpid}
     </delete>
     <delete id="deleteMidByPid" parameterType="Map">
     	delete from hotel_mid where pid = #{hpid}
     </delete>
     <delete id="deleteHotel" parameterType="Map">
     	delete from hotel_msg where hid=#{hid}
     </delete>
     <insert id="addHotel" parameterType="Hotel">
     	<selectKey keyColumn="hid" keyProperty="hid" order="AFTER" resultType="int">
   			 select @@IDENTITY as hid
  		</selectKey>
     	insert into hotel_msg(name,contact,address,feature,level,serverDesc,intime,outtime)
     	values(#{name},#{contact},#{address},#{feature},#{level},#{serverDesc},#{intime},#{outtime})
     </insert>
     <insert id="addHotelPic" parameterType="Map">
     	insert into hotel_pic(hid,picPath) values(#{hid},#{picPath})
     </insert>
     <update id="updateHotel" parameterType="com.jnmd.liuwan.domain.Hotel">
     	update hotel_msg
		 <trim prefix="set" suffixOverrides=",">
		  <if test="name!=null">name=#{name},</if>
		  <if test="contact!=null">contact=#{contact},</if>
		  <if test="address!=null">address=#{address},</if>
		  <if test="feature!=null">feature=#{feature},</if>
		  <if test="level!=null">level=#{level},</if>
		  <if test="serverDesc!=null">serverDesc=#{serverDesc},</if>
		  <if test="intime!=null">intime=#{intime},</if>
		  <if test="outtime!=null">outtime=#{outtime},</if>
		 </trim>
		where hid=#{hid}
     </update>
     <select id="getHotel" parameterType="int" resultType="hotel">
     	select * from hotel_msg where hid=#{hid}
     </select>
     <delete id="deleteAHotelPicByPath" parameterType="Map">
     	delete from hotel_pic where picpath=#{picPath} and hid=#{hid }
     </delete>
     <select id="getCityList" resultType="com.jnmd.liuwan.domain.Province">
     	select * from province 
     </select>
     <insert id="addAHouse" parameterType="com.jnmd.liuwan.domain.HotelPrice" useGeneratedKeys="true" keyProperty="hpid">
     	<selectKey keyColumn="hpid" keyProperty="hpid" order="AFTER" resultType="int">
   			 select @@IDENTITY as hpid
  		</selectKey>
     	insert into hotel_price(city_id,house_id,price,area,floor,smoke,peomax)
     	values(#{city_id},#{house_id},#{price},#{area},#{floor},#{smoke},#{peomax})
     </insert>
     <insert id="addHotelMid" parameterType="Map">
     	insert into hotel_mid(pid,hid) values(#{pid},#{hid})
     </insert>
     <insert id="addHousePic" parameterType="Map">
     	insert into house_pic(picPath,housepid) values(#{picPath},#{housepid})
     </insert>
     <update id="updateHousePic" parameterType="Map">
     	update house_pic
		 <trim prefix="set" suffixOverrides=",">
		  <if test="picPath!=null">picPath=#{picPath},</if>
		 </trim>
		where housepid=#{housepid}
     </update>
     
     <update id="updateHouseMessage" parameterType="com.jnmd.liuwan.domain.HotelPrice">
     	update hotel_price
		 <trim prefix="set" suffixOverrides=",">
		  <if test="city_id!=null">city_id=#{city_id},</if>
		  <if test="house_id!=null">house_id=#{house_id},</if>
		  <if test="price!=null">price=#{price},</if>
		  <if test="area!=null">area=#{area},</if>
		  <if test="floor!=null">floor=#{floor},</if>
		  <if test="smoke!=null">smoke=#{smoke},</if>
		  <if test="peomax!=null">peomax=#{peomax},</if>
		 </trim>
		where hpid=#{hpid}
     </update>
     <select id="getAHouseById" parameterType="int" resultType="com.jnmd.liuwan.domain.HotelPrice">
     	select * from hotel_price where hpid = #{hpid}
     </select>
</mapper>