<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnmd.liuwan.mapper.HotelMapper">
	<select id="maxNum" resultType="int">
		select count(*) from hotel_msg
	</select>
	<select id="getHotels" parameterType="Map" resultMap="HotelPic">
		select *
		from hotel_msg h,hotel_pic p 
		where p.hid = h.hid
		limit #{start},#{pagesize} 
	</select>
	<resultMap type="com.jnmd.liuwan.domain.HotelPic" id="HotelPic">
         <id property="pid" column="pid"/>
         <result property="picPath" column="picpath"/>
         <association property="hotel" javaType="com.jnmd.liuwan.domain.Hotel">
             <id property="hid" column="hid"/>
             <result property="name" column="name"/>
             <result property="contact" column="contact"/>
             <result property="address" column="address"/>
             <result property="feature" column="feature"/>
             <result property="level" column="level"/>
             <result property="serverDesc" column="serverDesc"/>
         </association>
     </resultMap>
     <resultMap type="com.jnmd.liuwan.domain.HotelPrice" id="houseList">
     	<id property="hpid" column="hpid"/>
   		<result property="price" column="price"/>
   		<result property="area" column="area"/>
   		<result property="floor" column="floor"/>
   		<result property="smoke" column="smoke"/>
   		<result property="peomax" column="peomax"/>
   		<association property="houseType" javaType="com.jnmd.liuwan.domain.HouseType">
   			<id property="houseId" column="houseId"/>
   			<result property="houseType" column="houseType"/>
   		</association>
   		<association property="province" javaType="com.jnmd.liuwan.domain.Province">
   			<id property="cityId" column="cityid"/>
   			<result property="cityName" column="cityname"/>
   		</association>
   		<collection property="housePic" javaType="java.util.List" ofType="com.jnmd.liuwan.domain.HousePic">
   			<id property="hpid" column="hpid"/>
   			<result property="picPath" column="picPath"/>
   		</collection>
     </resultMap>
     <select id="getAllHouse" parameterType="Map" resultMap="houseList">
     	select *
     	from 
     	hotel_price p,house_type t, house_pic c,province pr
     	where
     	p.hpid in (
     		select m.pid from
     		hotel_mid m
     		where m.hid = #{hid}
     	)
     	and p.house_id = t.houseId
     	and p.hpid = c.housepid
     	and p.city_id = pr.cityId
     </select>
     <delete id="deleteHouse" parameterType="Map">
     	delete from hotel_price where hpid=#{hpid}
     </delete>
</mapper>