@CHARSET "UTF-8";
#content{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	background-color: rgba(10, 10, 10, 0.77);
	padding:30px 0;
}
#addHotelSuc{
	padding-bottom:20px;
	width:420px;
	margin:20px auto;
	color:#fff;
	font-size:16px;
	background-color: rgba(10, 10, 10, 0.77);
    border: 2px ridge rgba(238, 238, 238, 0.13);
    border-radius: 5px;
    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    -webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
}
#addYesOrNo{
	margin-top:15px;
	width:420px;
	height:35px;
	font-size:18px;
	line-height:35px;
	text-align:center;
}
#doMsgFa{
	padding-left:30px;
	margin-top:30px;
	width:390px;
	height:130px;
	position: relative;
}
#doMsg1{
	margin-left:15px;
	position: absolute;
	top:0;
	left:0;
}
#doMsg2{
	position: absolute;
	top:0;
	right:0;
}
.doMsg{
	margin-right:15px;
	margin-top:21px;
	display:block;
	width: 40%;
	height:20%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
    border-width: thin;
    cursor:pointer;
    border:1px solid rgba(238, 238, 238, 0.41);
    background:transparent;
	color:#fff;
	font-size:16px;
	text-align:center;
}
.doMsg:hover{
	background:#000;
	border: 1px solid #FFF;
    color: #FFF;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}