@CHARSET "UTF-8";
#content{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	background-color: rgba(10, 10, 10, 0.77);
	padding:30px 0;
}
#addHotelPic{
	padding-top:150px;
	height:300px;
	padding-left:30px;
	padding-bottom:20px;
	width:420px;
	margin:20px auto;
	color:#fff;
	font-size:16px;
	background-color: rgba(10, 10, 10, 0.77);
    border: 2px ridge rgba(238, 238, 238, 0.13);
    border-radius: 5px;
    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    -webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
    box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
}
.button{
	margin:20px 0 0 100px;
	width: 40%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
    border-width: thin;
    cursor:pointer;
    border:1px solid rgba(238, 238, 238, 0.41);
    background:transparent;
	color:#fff;
	font-size:16px;
}
.button:hover{
	background:#000;
	border: 1px solid #FFF;
    color: #FFF;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}
#picFile{
	margin-top:200px;
	height:30px;
	margin: 15px auto;
	border-bottom:1px solid rgba(238, 238, 238, 0.41);
	background:transparent;
	color:#fff;
	font-size:16px;
}