@charset "utf-8";
/*==================Reset_start===================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family: "微软雅黑","宋体",Arail,Tabhoma; font-size: 14px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
a{color:#000}
input,select,textarea{outline:0;border:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
/*根据项目需要，自行添加或删减重置内容*/
/*==================Reset_End====================*/

/************** 头部样式 ************/
.wrap{
	min-width: 1000px;
}
.header{
	border-bottom: 4px solid #176fbb;
}
.header .con{
	width: 1000px;
	margin:0 auto;
	background:url(../img/pageimg/logo.png) 10px 10px no-repeat;
	padding-top: 18px;
}
.header .con1{
	overflow: hidden;
	height: 28px;
	line-height: 18px;
	padding-right: 18px;
	font-size: 14px;
}
.header .search{
	width: 181px;
	height: 28px;
	background: url(../img/pageimg/ipt.png) 0 0 no-repeat;
	float: right;
	position: relative;
}
.header .search input{
	width: 144px;
	height: 18px;
	position: absolute;
	left: 5px;
	top: 5px;
}
.header .search a{
	position: absolute;
	right: 0;
	top: 0;
	width: 27px;
	height: 28px;
}
.con span a{
	color: #3c3c3c;
}
.header .xl{
	width: 107px;
	height: 24px;
	background: url(../img/pageimg/xinglixiang.png) 10px 50% no-repeat;
	cursor: pointer;
	float: right;
	padding-left: 32px;
	line-height: 24px;
	text-indent: 10px;
	box-sizing: border-box;
	margin:2px auto;
	padding-bottom: 3px;
}
.header .con1 .dc{
	width: 60px;
	height: 18px;
	float: right;
	border-right: 2px solid #000;
	text-align: center;
	margin-top: 5px;
}
.header .DH{
	width: 124px;
	text-align: center;
	float: right;
	font: bold 13px "微软雅黑";
	color: #ffa000;
	border-right: 2px solid #000;
	line-height: 18px;
	margin-top: 5px;
}
.header .DH2{
	width: 15px;
	height: 28px;
	background: url(../img/pageimg/DH.png) 0 4px no-repeat;
	float: right;
}
.header .con2{
	text-align: center;
	position: relative;
	text-indent: 125px;
	margin: 40px 0 2px 0;
}
.header .consy .shouye{
	display: block;
	width: 21px;
	height: 21px;
	line-height: 28px;
	background: url(../img/pageimg/shouye.png) center left no-repeat;
	position: absolute;
	bottom: 6px;
	left: 195px;
}
.header .con20 a{
	font-weight: bold;
	color: #3c3c3c;
	font-size: 18px;
	height: 28px;
	line-height: 28px;
	margin: 0 17px;
}







/************** 底部样式 ************/
.footer{
	background: #023c4d;
}
.footer .con1{
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
}
.list{
	float: left;
	list-style: none;
	color: #fff;
	margin: 15px 48px 20px 48px;
	line-height: 30px;
}
.list ul{
	list-style: none;
}
.list a{
	color: #fff;
}
.list img{
	cursor: pointer;
}
.list .zixun{
	width: 130px;
	height: 25px;
	background: url(../img/pageimg/zixun.png) 0 0 no-repeat;
	margin-top: 22px;
	cursor: pointer;
}
.list h3{
	font-weight: normal;
}
.footer .con2{
	height: 57px;
	line-height: 57px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-top: 2px solid #fff;
}
